$content-fontcolor: #333;
$light-fontColor: #999;
$medium-fontColor: #666;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$light-iconColor: #b6b6b6;
$highlight-fontColor: #E93B3B;
$buttom-bgColor: #0091FF;
$bgColor: #fff;
$dark-bgColor: #f8f8f8;